<img src="images/Cmpn6ReadAllCouponsByPrice.png" class="img">
<br />
<div id="readCouponsByPrice">
	<form name="myForm">
		<input name="myInput" class="w3-input w3-border w3-round" type="number" min="1" id="priceInput" ng-change="racp.givePrice()" ng-model="racp.price" required />
	</form>
	<p ng-hide="myForm.myInput.$valid" >
		<font face="Trocchi" class="enterId">Please enter the coupon price</font>
	</p>
</div>
<table border=1  class="table table-hover tableDesign">
    <tr>
        <th ng-click="racp.setOrder('id')">
            Id
            <span ng-hide="racp.goUp">▼</span>
            <span ng-show="racp.goUp">▲</span>
        </th>
        <th ng-click="racp.setOrder('title')">
            Title
            <span ng-hide="racp.goUp">▼</span>
            <span ng-show="racp.goUp">▲</span>
        </th>
        <th ng-click="racp.setOrder('startDate')">
            Start Date
            <span ng-hide="racp.goUp">▼</span>
            <span ng-show="racp.goUp">▲</span>
        </th>
        <th ng-click="racp.setOrder('endDate')">
            End Date
            <span ng-hide="racp.goUp">▼</span>
            <span ng-show="racp.goUp">▲</span>
        </th>
        <th ng-click="racp.setOrder('amount')">
            Amount
            <span ng-hide="racp.goUp">▼</span>
            <span ng-show="racp.goUp">▲</span>
        </th>
        <th ng-click="racp.setOrder('type')">
            Type
            <span ng-hide="racp.goUp">▼</span>
            <span ng-show="racp.goUp">▲</span>
        </th>
        <th>Message</th>
        <th ng-click="racp.setOrder('price')">
            Price
            <span ng-hide="racp.goUp">▼</span>
            <span ng-show="racp.goUp">▲</span>
        </th>
        <th>Image</th>
    </tr>
	<tr ng-repeat="c in racp.couponsPrice   | orderBy : racp.order : racp.goUp ">
		<td>{{c.id}}</td>
		<td>{{c.title}}</td>
		<td>{{c.startDate}}</td>
		<td>{{c.endDate}}</td>
		<td>{{c.amount}}</td>
		<td>{{c.type}}</td>
		<td>{{c.message}}</td>
		<td>{{c.price}}</td>
		<td><img data-ng-src="{{c.image}}" width="150px" height="120px"/></td>
	</tr>
</table>